<p id="notice"><%= notice %></p>
<br>
<br>
<h1 class="py-4" align="center">Corredoras que has creado</h1>

<div class="container mb-5">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3">
    <% @real_estate_brokers.each do |real_estate_broker|%>
      <%= render real_estate_broker %>    
    <% end %>
  </div>
</div>
<div class="text-center">        
  <%= link_to 'Crear nueva Corredora', new_real_estate_broker_path, class: 'btn btn-primary' %>
</div>
<br>
<br>
<%= render 'modal'%>
<script>
  $('.star-rating').raty({
	  path: '/assets/',
	  readOnly: true,
	  score: function() {
	    return $(this).attr('data-score');
	    }
	});
</script>