<p id="notice"><%= notice %></p>

<h1 class="py-4" align="center">Corredoras</h1>

<div class="container">
  <div class="row ">
    <% @real_estate_brokers.each do |real_estate_broker|%>
      <%= render real_estate_broker %>    
    <% end %>
  </div>
</div>
        
<%= link_to 'New Real Estate Broker', new_real_estate_broker_path %>
<%= render 'modal'%>
<script>
  $('.star-rating').raty({
	  path: '/assets/',
	  readOnly: true,
	  score: function() {
	    return $(this).attr('data-score');
	    }
	});
</script>