<br>
<br>
<h1 class="py-4", align=center>Nueva Corredora</h1>
<%= render 'form', real_estate_broker: @real_estate_broker %>
<div class="offset-md-10">
  <%= link_to 'Back', real_estate_brokers_path, class: 'btn btn-primary' %>
</div>
<br>
<br>